@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/normalize";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  background: $white;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a {
  text-decoration: none;
  color: $blue;
}

::selection {
  background: $yellow;
}

p {
  padding: 0;
  margin: 0 0 1rem;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  padding: 0;
}

section, .section {
  margin-bottom: $level1;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  margin: 0 auto;
  max-width: $desktopWidth;
  min-width: $smPhoneWidth;
  @media screen and (max-width: $smDesktopWidth) {
    //max-width: $tableWidth;
    padding: 0 10px;
  }
  //@media screen and (max-width: $tableWidth) {
  //  max-width: $phoneWidth;
  //}
  //@media screen and (max-width: $phoneWidth) {
  //  max-width: $smPhoneWidth;
  //}
}

.container-fluid {
  padding: 0 40px;
}

.about-page {
  overflow-x: hidden;
}

// Modules
@import "modules/header";
@import "modules/extra";
@import "modules/footer";
@import "modules/arendators";
@import "modules/sales-index";
@import "modules/about-index";
@import "modules/actuals";
@import "modules/breadcrumbs";
@import "modules/advantages";
@import "modules/shops-bottom";
@import "modules/map";
@import "modules/contacts";
@import "modules/search-form";
@import "modules/filter";
@import "modules/cards";
@import "modules/about";
@import "modules/about-slider";
@import "modules/about-events";
@import "modules/shop";
@import "modules/hamburger";
