section.actuals
  .actuals__top
    .actuals__title.title
      span= 'Актуальное '
      |в тц обними
    .actuals__top-buttons
      button.button._white.actuals__top-button._active= 'Новости'
      button.button._white.actuals__top-button= 'События'
  .swiper-container.actuals-slider.actuals-slider-news._active
    .swiper-wrapper.actuals__list
      a.actuals__list-item._big.swiper-slide
        img(src='/assets/img/actuals/1.png')
      a.actuals__list-item.swiper-slide
        img(src='/assets/img/actuals/2.png')
      a.actuals__list-item.swiper-slide
        img(src='/assets/img/actuals/3.png')
      a.actuals__list-item.swiper-slide
        img(src='/assets/img/actuals/3.png')
      a.actuals__list-item.swiper-slide
        img(src='/assets/img/actuals/5.png')
  .swiper-container.actuals-slider.actuals-slider-events
    .swiper-wrapper.actuals__list
      a.actuals__list-item._big.swiper-slide
        img(src='/assets/img/actuals/1.png')
      a.actuals__list-item.swiper-slide
        img(src='/assets/img/actuals/2.png')
      a.actuals__list-item.swiper-slide
        img(src='/assets/img/actuals/3.png')
      a.actuals__list-item.swiper-slide
        img(src='/assets/img/actuals/3.png')
      a.actuals__list-item.swiper-slide
        img(src='/assets/img/actuals/5.png')
