section.actuals
  .actuals__top
    .actuals__title.title
      span= 'Актуальное '
      |в тц обними
    .actuals__top-buttons
      button.button._white.actuals__top-button._active= 'Новости'
      button.button._white.actuals__top-button= 'События'
  .actuals__wrapper
    .actuals__list._active
      .actuals__list-col
        a.actuals__list-item._big
          img(src='/assets/img/actuals/1.png')
      .actuals__list-col
        a.actuals__list-item
          img(src='/assets/img/actuals/2.png')
        a.actuals__list-item
          img(src='/assets/img/actuals/3.png')
      .actuals__list-col
        a.actuals__list-item
          img(src='/assets/img/actuals/3.png')
        a.actuals__list-item
          img(src='/assets/img/actuals/5.png')
    .actuals__list
      .actuals__list-col
        a.actuals__list-item._big
          img(src='/assets/img/actuals/1.png')
      .actuals__list-col
        a.actuals__list-item
          img(src='/assets/img/actuals/2.png')
        a.actuals__list-item
          img(src='/assets/img/actuals/3.png')
      .actuals__list-col
        a.actuals__list-item
          img(src='/assets/img/actuals/3.png')
        a.actuals__list-item
          img(src='/assets/img/actuals/5.png')
