header.header._wo-bg
  .container-fluid
    .header__top
      a(href='/').header__logo
        include ../../../assets/img/footer-logo.svg
      include ./header__nav
      include ./header__buttons
      include ./header__info
