.header__buttons
  a.header__buttons-item(href='/')
    include ../../../assets/img/icons/title-bell.svg
  a.header__buttons-item._yellow(href='/how.html')
    include ../../../assets/img/icons/running-man.svg
  .header__buttons-item._light-blue._hamburger
    include ./hamburger