- const headerNav = [{"title": "о центре","link": "/about.html"},{"title": "Магазины","link": "/shops.html"},{"title": "Еда","link": "/"},{"title": "Сервис","link": "/"},{"title": "Развлечения","link": "/"},{"title": "Для детей","link": "/"},{"title": "Аренда","link": "/"},{"title": "Безопасность","link": "/"},{"title": "Контакты","link": "/contacts.html"}];

case headerType
  when 'slider'
    include ./header-slider
  when 'w-bg'
    include ./header-w-bg
  default
    include ./header-default

