.header__buttons
  a.header__buttons-item._notification(href='/')
    include ../../../assets/img/icons/title-bell.svg
  a.header__buttons-item._how(href='/')
    include ../../../assets/img/icons/running-man.svg