.header__buttons
  a.header__buttons-item._pink(href='/')
    include ../../../assets/img/icons/title-bell.svg
  a.header__buttons-item._white(href='/')
    include ../../../assets/img/icons/running-man.svg