extends ../layout/main

block variables
  - const title = 'ТЦ Обними | главная';
  - const description = 'ТЦ Обними | description';
  - const pageClass = 'index-page';
  - const headerClass = '_w-bg _';
  - const headerType = 'slider';

block content
  include ../includes/modules/sales-index
  include ../includes/modules/about-index
  .container
    include ../includes/modules/actuals
    include ../includes/modules/arendators
