extends ../layout/main

block variables
  - const title = 'ТЦ Обними | test';
  - const description = 'ТЦ Обними | description';
  - const pageClass = 'index-page';

block content
  .container
    include ../includes/modules/breadcrumbs

    p= ''
    include ../includes/modules/shops-bottom