extends ../layout/main

block variables
  - const title = 'ТЦ Обними | test';
  - const description = 'ТЦ Обними | description';
  - const pageClass = 'index-page';

block content
  .container
    include ../includes/modules/breadcrumbs
    h1.h1= 'магазины'
      .h1__count= '28'

    include ../includes/modules/search-form
    include ../includes/modules/filter
    include ../includes/modules/cards

    include ../includes/modules/shops-bottom