extends ../layout/main

block variables
  - const title = 'ТЦ Обними | test';
  - const description = 'ТЦ Обними | description';
  - const pageClass = 'index-page';
  - const headerType = 'slider';

block content
  .container
    h1.h1= 'Test'
    p= 'dfg sdfg sdfg ds fgsd gsd fg sdfg'