// Font
$mainFont                : 'Futura PT', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 22.4px;

$desktopWidth            : 1416px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Colors
$white                   : #ffffff;
$light-grey              : #F0F0F8;
$light-grey2             : #D9DCE7;
$black                   : #101113;
$grey                    : #848692;

$blue                    : #4A5DA9;
$pink                    : #F287B6;
$yellow                  : #FFE82A;
$coral                   : #ED2B4E;
$light-blue              : #74CDD9;

$border-radius           : 10px;

// Levels
$level1                  : 200px;
$level2                  : 100px;
$level3                  : 64px;
$level4                  : 48px;
$level5                  : 32px;
$level6                  : 24px;
$level7                  : 12px;
$level8                  : 8px;
