.breadcrumbs {

  &__item {
    display: inline-block;
    color: $grey;

    &:after {
      content: '-';
      padding: 0 20px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}