.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 3%;
    grid-row-gap: 48px;
    margin-bottom: 80px;
    @media screen and (max-width: $desktopWidth) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media screen and (max-width: $smDesktopWidth) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 20px;
    }
    @media screen and (max-width: $tableWidth) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: $phoneWidth) {
      grid-template-columns: 1fr;
      margin-bottom: 40px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $black;
    padding: 20px;

    &-img {
      min-height: 56px;
      & img {
        width: 100%;
      }
    }

    &-title {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 21px;
    }

    &-floor {
      margin-bottom: 14px;
      color: $grey;
    }

    &-icon {
      display: flex;
      justify-content: center;
    }
  }
}