.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;

  &-list {
    display: flex;

    &__item {
      margin-right: 12px;
    }
  }

  &__block {
    &._selects {
      display: flex;

      & > div {
        margin-right: 60px;
      }
    }
  }
}