.footer {
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		border-top: 1px solid #101113;
		padding: $level4 0 $level5;
		@media screen and (max-width: $smDesktopWidth) {
			padding: 20px 0 10px 0;
		}
		@media screen and (max-width: $smTableWidth) {
			justify-content: center;
			padding-top: 16px;
		}
	}

	&__logo {
		@media screen and (max-width: $phoneWidth) {
			margin-bottom: 15px;
		}
		& svg {
			@media screen and (max-width: $tableWidth) {
				width: 76px;
			}
			@media screen and (max-width: $smTableWidth) {
				height: 64px;
			}
		}
	}

	&__right {
		width: 67%;
		@media screen and (max-width: $smDesktopWidth) {
			width: 100%;
		}

		&-top {
			display: flex;
			justify-content: space-between;
			padding-bottom: $level5;
			border-bottom: 1px solid #D9DCE7;
			@media screen and (max-width: $smDesktopWidth) {
				padding-bottom: 20px;
			}
			@media screen and (max-width: $smTableWidth) {
				flex-direction: column;
				align-items: center;
				text-align: center;
				padding-bottom: 24px;
			}
			@media screen and (max-width: $phoneWidth) {
				padding-bottom: 15px;
			}
		}

		&-bottom {
			padding-top: $level6;
			display: flex;
			justify-content: space-between;
			@media screen and (max-width: $smDesktopWidth) {
				font-size: 12px;
				padding-top: 10px;
			}
			@media screen and (max-width: $smTableWidth) {
				padding-top: 12px;
				margin-bottom: 32px;
				flex-direction: column;
				align-items: center;
			}
			@media screen and (max-width: $phoneWidth) {
				font-size: 11px;
			}
		}

		&-policy {
			color: $black;
			transition: 0.3s;
			@media screen and (max-width: $phoneWidth) {
				margin-bottom: 5px;
			}

			&:hover {
				color: $light-blue;
			}
		}

		&-producer {
			color: $grey;

			& a {
				color: $grey;
				margin-left: 4px;
				transition: 0.3s;

				&:hover {
					color: $light-blue;
				}
			}
		}
	}

	&__subscribe {
		width: 29.2%;
		@media screen and (max-width: $smDesktopWidth) {
			display: none;
		}
		@media screen and (max-width: $smTableWidth) {
			display: block;
			width: 100%;
			max-width: 360px;
		}
	}

	&__info {
		@media screen and (max-width: $smDesktopWidth) {
			font-size: 12px;
			line-height: 16.8px;
		}
		@media screen and (max-width: $phoneWidth) {
			line-height: 17.1px;
		}
		&-copyright {
			margin-bottom: 10px;
		}

		&-bottom {
			display: flex;

			&__img {
				margin-right: 16px;
			}

			&__description {
				white-space: pre;
				font-size: 14px;
			}
		}

		&-block {
			margin-bottom: $level6;
			@media screen and (max-width: $smTableWidth) {
				margin-bottom: 5px;
			}

			&._block2 {
				margin-bottom: 8px;
			}

			& br {
				@media screen and (max-width: $smTableWidth) {
					display: none;
				}
			}

		}
	}

	&__nav {
		@media screen and (max-width: $phoneWidth) {
			margin-bottom: 7px;
		}
		& ul {
			& li {
				& a {
					display: block;
					text-transform: uppercase;
					font-weight: 600;
					font-size: 13px;
					color: $black;
					margin-bottom: 8px;
					transition: 0.3s;
					@media screen and (max-width: $smDesktopWidth) {
						font-size: 11px;
						line-height: 15.4px;
					}
					@media screen and (max-width: $phoneWidth) {
						margin-bottom: 12px;
					}

					&._active,
					&:hover {
						color: $blue;
					}
				}
			}
		}
	}

	&__socials {
		@media screen and (max-width: $smTableWidth) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			max-width: 200px;
			margin-bottom: 20px;
		}
		@media screen and (max-width: $phoneWidth) {
			margin-bottom: 22px;
		}
		&-item {
			margin-bottom: 12px;
			@media screen and (max-width: $smTableWidth) {
				width: 36px;
				height: 36px;
				min-width: auto;
				padding: 0;
				margin: 0 6px;
			}
			& img {
				display: none;
				@media screen and (max-width: $smTableWidth) {
					display: block;
				}
			}
			& span {
				@media screen and (max-width: $smTableWidth) {
					display: none;
				}
			}
		}

		&-how {
			margin-top: 40px;
			@media screen and (max-width: $smTableWidth) {
				margin-top: 20px;

			}
		}
	}

	&__info {
		&-phone {
			display: block;
			color: $black;
			font-weight: 600;
		}

		&-email {
			color: $black;
		}
	}
}
