.header {
	color: $white;

	&._wo-bg {
		color: black;
		background: $white;
		margin-bottom: 24px;

		& .header__nav {
			& ul {
				& li {
					& a {
						color: $black;

						&._active,
						&:hover {
							color: $blue;
						}

						&:after {
							background: $blue;
						}
					}
				}
			}
		}

		.header__info-phone,
		.header__info-email {
			color: black;
		}
	}

	&._w-bg {
		position: relative;
		margin-bottom: $level2;
		@media screen and (max-width: $smDesktopWidth) {
			margin-bottom: 58px;
		}

		&._img {
			margin-bottom: $level3;
			@media screen and (max-width: $xsTableWidth) {
				margin-bottom: 40px;
			}
			@media screen and (max-width: $phoneWidth) {
				margin-bottom: 10px;
			}

			& .header__bottom {
				background: grey;
				height: 578px;
				padding-top: 220px;
				@media screen and (max-width: $smDesktopWidth) {
					height: 438px;
					padding-top: 180px;
				}
				@media screen and (max-width: $tableWidth) {
					height: 368px;
					padding-top: 160px;
				}
				&-description {
					@media screen and (max-width: $desktopWidth) {
						padding: 0 20px;
					}
				}
			}
		}

		& .header__top {
			position: absolute;
			z-index: 11;
			@media screen and (max-width: $smTableWidth) {
				padding: 0 20px 0 11px;
			}
		}
	}

	&__top {
		height: 100px;
		width: 100%;
		padding: 0 57px;
		margin-top: $level6;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 2;

		@media screen and (max-width: 1750px) {
			padding: 0 20px;
		}

		@media screen and (max-width: $desktopWidth) {
			margin-top: 0;
		}

		@media screen and (max-width: $smTableWidth) {
			padding: 0 0 ;
			height: 65px;
		}
	}

	&__bottom {
		&-description {
		}

		& .breadcrumbs__item {
			color: $white;
		}

		&-link {
			border: 1px solid $white;
			padding: 20px 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 176px;
			height: 82px;
			color: $white;
			@media screen and (max-width: $tableWidth) {
				width: 156px;
				height: 62px;
			}

			&__title {

			}
		}
	}

	&__socials {
		position: absolute;
		display: flex;
		top: 50%;
		margin-top: -223px;
		right: 76px;
		transform: rotate(270deg);
		transform-origin: right 0;
		z-index: 1;
		@media screen and (max-width: $desktopWidth) {
			right: 50px;
		}

		@media screen and (max-width: $tableWidth) {
			margin-top: -130px;
		}

		@media screen and (max-width: $smTableWidth) {
			display: none;
		}

		&-item {
			font-size: 14px;
			margin-right: 57px;
			text-transform: uppercase;
			color: $white;
			transition: 0.3s;
			@media screen and (max-width: $tableWidth) {
				margin-right: 20px;
			}
		}
	}

	&__slider {
		height: 974px;
		@media screen and (max-width: $tableWidth) {
			height: 600px;
		}
		@media screen and (max-width: $smTableWidth) {
			height: 567px;
		}

		&-item {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			text-align: center;
			padding-bottom: 80px;
			@media screen and (max-width: $tableWidth) {
				background-position: center;
				padding-bottom: 20px;
			}
			@media screen and (max-width: $smTableWidth) {
				padding-bottom: 48px;
			}
		}

		&-subtitle {
			font-size: 24px;
			line-height: 38px;
			font-weight: 600;
			margin-bottom: 10px;
			text-transform: uppercase;
			@media screen and (max-width: $tableWidth) {
				font-size: 18px;
				margin-bottom: 0;
			}
		}

		&-title {
			font-size: 120px;
			line-height: 120px;
			text-transform: uppercase;
			color: $yellow;
			margin-bottom: 60px;
			@media screen and (max-width: $tableWidth) {
				font-size: 5rem;
				line-height: 1;
				margin-bottom: 20px;
			}

			@media screen and (max-width: $smTableWidth) {
				font-size: 57px;
				margin-bottom: 42px;
				line-height: 54px;
			}
		}

		&-dots {
			position: absolute;
			width: 8px;
			height: 8px;
			background: #6C7597;
			border-radius: 100%;
			left: 50%;
			margin-top: -22px;
			margin-left: -4px;
			@media screen and (max-width: $tableWidth) {
				margin-top: -18px;
			}
			@media screen and (max-width: $smTableWidth) {
				width: 4px;
				height: 4px;
				margin-top: -25px;
			}
			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 8px;
				height: 8px;
				background: #6C7597;
				border-radius: 100%;
				@media screen and (max-width: $smTableWidth) {
					width: 4px;
					height: 4px;
				}
			}
			&:before {
				left: 24px;
				@media screen and (max-width: $smTableWidth) {
					left: 20px;
				}
			}
			&:after {
				right: 24px;
				@media screen and (max-width: $smTableWidth) {
					right: 20px;
				}
			}
		}

		&-description {
			font-size: 18px;
			font-weight: 600;
			line-height: 27px;
			text-transform: uppercase;
			margin-bottom: 90px;
			@media screen and (max-width: $tableWidth) {
				margin-bottom: 40px;
			}
			@media screen and (max-width: $tableWidth) {
				font-size: 14px;
				line-height: 21px;
			}
			@media screen and (max-width: $smTableWidth) {
				margin-bottom: 32px;
			}
		}

		&-actions {
			position: absolute;
			top: 50%;
			left: 48px;
			@media screen and (max-width: $tableWidth) {
				left: 20px;
			}
			@media screen and (max-width: $smTableWidth) {
				top: initial;
				left: 0;
				bottom: 24px;
				width: 100%;
			}
		}

		&-pagination {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			@media screen and (max-width: $smTableWidth) {
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
			}

			& .swiper-pagination-bullet {
				width: 6px;
				height: 6px;
				border: 1px solid #6C7597;
				background: none;
				opacity: 1;
				margin-bottom: 10px;
				@media screen and (max-width: $smTableWidth) {
					margin: 0 5px;
				}

				&:hover {
					background: #6C7597;
				}
			}

			& .swiper-pagination-bullet-active {
				background: #6C7597;
			}
		}

		&-arrow {
			position: relative;
			top: initial;
			left: initial;
			right: initial;
			height: 12px;
			margin-top: 10px;
			margin-bottom: 20px;
			@media screen and (max-width: $smTableWidth) {
				position: absolute;
				bottom: 78px;
				margin-top: 0;
				margin-bottom: 0;
			}

			&_next {
				@media screen and (max-width: $smTableWidth) {
					right: 6px;
				}
			}

			&_prev {
				@media screen and (max-width: $smTableWidth) {
					left: 6px;
				}
			}

			& svg {
				color: #6C7597;
				transition: 0.3s;
				@media screen and (max-width: $smTableWidth) {
					color: $white;
					height: 10px;
					transform: rotate(270deg);
				}

				&:hover {
					color: $white;
				}
			}

			&:after {
				display: none;
			}
		}

		&-advantages {
			& .advantages__item {
				@media screen and (max-width: $smTableWidth) {
					display: none;
				}
				&:first-child {
					display: block;
					@media screen and (max-width: $smTableWidth) {
						width: 60%;
					}
				}
			}

		}
	}

	&__logo {
		@media screen and (max-width: $desktopWidth) {
			margin-top: 40px;
		}

		@media screen and (max-width: $smTableWidth) {
			margin-top: 20px;
		}

		& svg {
			max-height: 100px;
			@media screen and (max-width: $smTableWidth) {
				max-height: 53px;
				max-width: 64px;
			}
		}
	}

	&__nav {
		@media screen and (max-width: $desktopWidth) {
			position: fixed;
			background: #fff;
			top: 0;
			right: -100%;
			width: 40%;
			height: 100%;
			transition: 0.3s;
			z-index: 11;

			&._active {
				right: 0;
			}
		}
		@media screen and (max-width: $smDesktopWidth) {
			width: 100%;
		}
		& .header__buttons-item {
			display: none;
			@media screen and (max-width: $desktopWidth) {
				display: block;
				position: absolute;
				right: 20px;
				top: 20px;
			}
		}
		& ul {
			display: flex;
			padding: 0;
			margin: 0;
			@media screen and (max-width: $desktopWidth) {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				height: 100%;
			}
			& li {
				& a {
					font-weight: 700;
					font-size: 13px;
					line-height: 18.2px;
					padding: 0 2rem;
					position: relative;
					text-transform: uppercase;
					color: $white;
					white-space: nowrap;
					transition: 0.3s;
					@media screen and (max-width: 1750px) {
						padding: 0 1rem;
					}

					@media screen and (max-width: $desktopWidth) {
						color: $black;
						font-size: 16px;
						display: block;
						margin-bottom: 20px;
					}

					&:after {
						content: '';
						display: block;
						position: absolute;
						left: 50%;
						bottom: 5px;
						margin-left: -4px;
						width: 8px;
						height: 8px;
						background: $yellow;
						border-radius: 100%;
						transition: 0.3s;
						transition-timing-function: ease-in-out;
						opacity: 0;
					}
					&._active,
					&:hover {
						color: $yellow;

						&:after {
							bottom: -16px;
							opacity: 1;
						}
					}
				}
			}
		}
	}

	&__buttons {
		display: flex;
		@media screen and (max-width: $desktopWidth) {

		}

		&-item {
			width: 48px;
			height: 48px;
			margin-left: 20px;
			border-radius: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			background: $blue;
			transition: 0.3s;
			@media screen and (max-width: $smTableWidth) {
				width: 36px;
				height: 36px;
				margin-left: 12px;
			}

			&:hover {
				background: $coral;
			}

			& svg {
				color: $white;
				@media screen and (max-width: $smTableWidth) {
					width: 15px;
				}
			}

			&._yellow {
				background: $yellow;

				&:hover {
					background: $light-blue;
				}

				& svg {
					color: $black;
				}
			}

			&._pink {
				background: $pink;

				& svg {
					color: $black;
				}
			}

			&._white {
				background: $white;

				& svg {
					color: $black;
				}
			}

			&._light-blue {
				background: $light-blue;

				& svg {
					color: $black;
				}
			}

			&._hamburger {
				display: none;
				@media screen and (max-width: $desktopWidth) {
					display: flex;
				}

				&._active {
					background: $yellow;
					z-index: 2;
				}
			}
		}
	}

	&__info {
		text-align: right;
		@media screen and (max-width: $desktopWidth) {
			position: absolute;
			right: 20px;
			top: 100px;
		}

		@media screen and (max-width: $smTableWidth) {
			display: none;
		}

		&-phone {
			display: block;
			color: $white;
			font-weight: 600;
			white-space: nowrap;
		}

		&-email {
			display: block;
			color: $white;
			white-space: nowrap;
		}
	}
}
