.header {
	color: $white;

	&._wo-bg {
		color: black;
		background: $white;
		margin-bottom: 24px;

		& .header__nav {
			& ul {
				& li {
					& a {
						color: $black;

						&._active,
						&:hover {
							color: $blue;
						}

						&:after {
							background: $blue;
						}
					}
				}
			}
		}

		.header__info-phone,
		.header__info-email {
			color: black;
		}
	}

	&._w-bg {
		position: relative;
		margin-bottom: $level2;

		&._img {
			margin-bottom: $level3;

			& .header__bottom {
				background: grey;
				height: 578px;
				padding-top: 220px;
			}
		}

		& .header__top {
			position: absolute;
		}
	}

	&__top {
		height: 100px;
		width: 100%;
		padding: 0 57px;
		margin-top: $level6;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 2;

		@media screen and (max-width: 1750px) {
			padding: 0 20px;
		}
	}

	&__bottom {
		&-description {
		}

		& .breadcrumbs__item {
			color: $white;
		}

		&-link {
			border: 1px solid $white;
			padding: 20px 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 176px;
			height: 82px;
			color: $white;

			&__title {

			}
		}
	}

	&__socials {
		position: absolute;
		display: flex;
		top: 50%;
		margin-top: -223px;
		right: 76px;
		transform: rotate(270deg);
		transform-origin: right 0;
		z-index: 2;

		&-item {
			font-size: 14px;
			margin-right: 57px;
			text-transform: uppercase;
			color: $white;
			transition: 0.3s;
		}
	}

	&__slider {
		height: 974px;
		font-family: 'shirotaregular', sans-serif;

		&-item {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			text-align: center;
			padding-bottom: 80px;
		}

		&-subtitle {
			font-size: 24px;
			line-height: 38px;
			font-weight: 600;
			margin-bottom: 10px;
			text-transform: uppercase;
		}

		&-title {
			font-size: 120px;
			line-height: 120px;
			text-transform: uppercase;
			color: $yellow;
			margin-bottom: 60px;
		}

		&-description {
			font-size: 18px;
			font-weight: 600;
			line-height: 27px;
			text-transform: uppercase;
			margin-bottom: 90px;
		}

		&-actions {
			position: absolute;
			top: 50%;
			left: 48px;
		}

		&-pagination {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;

			& .swiper-pagination-bullet {
				width: 6px;
				height: 6px;
				border: 1px solid #6C7597;
				background: none;
				opacity: 1;
				margin-bottom: 10px;

				&:hover {
					background: #6C7597;
				}
			}

			& .swiper-pagination-bullet-active {
				background: #6C7597;
			}
		}

		&-arrow {
			position: relative;
			top: initial;
			left: initial;
			right: initial;
			height: 12px;
			margin-top: 10px;
			margin-bottom: 20px;

			& svg {
				color: #6C7597;
				transition: 0.3s;

				&:hover {
					color: $white;
				}
			}

			&:after {
				display: none;
			}
		}
	}

	&__logo {
		& svg {
			max-height: 100px;
		}
	}

	&__nav {
		@media screen and (max-width: $desktopWidth) {
			display: none;
		}
		& ul {
			display: flex;
			padding: 0;
			margin: 0;
			& li {
				& a {
					font-weight: 700;
					font-size: 13px;
					line-height: 18.2px;
					padding: 0 2rem;
					position: relative;
					text-transform: uppercase;
					color: $white;
					white-space: nowrap;
					transition: 0.3s;
					@media screen and (max-width: 1750px) {
						padding: 0 1rem;
					}

					&:after {
						content: '';
						display: block;
						position: absolute;
						left: 50%;
						bottom: 5px;
						margin-left: -4px;
						width: 8px;
						height: 8px;
						background: $yellow;
						border-radius: 100%;
						transition: 0.3s;
						transition-timing-function: ease-in-out;
						opacity: 0;
					}
					&._active,
					&:hover {
						color: $yellow;

						&:after {
							bottom: -16px;
							opacity: 1;
						}
					}
				}
			}
		}
	}

	&__buttons {
		display: flex;

		&-item {
			width: 48px;
			height: 48px;
			margin-left: 20px;
			border-radius: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			background: $blue;
			transition: 0.3s;

			&:hover {
				background: $coral;
			}

			& svg {
				color: $white;
			}

			&._yellow {
				background: $yellow;

				&:hover {
					background: $light-blue;
				}

				& svg {
					color: $black;
				}
			}

			&._pink {
				background: $pink;

				& svg {
					color: $black;
				}
			}

			&._white {
				background: $white;

				& svg {
					color: $black;
				}
			}

			&._light-blue {
				background: $light-blue;

				& svg {
					color: $black;
				}
			}

			&._hamburger {
				display: none;
				@media screen and (max-width: $desktopWidth) {
					display: flex;
				}
			}
		}
	}

	&__info {
		text-align: right;
		@media screen and (max-width: $desktopWidth) {
			margin-left: 10px;
		}

		&-phone {
			display: block;
			color: $white;
			font-weight: 600;
			white-space: nowrap;
		}

		&-email {
			display: block;
			color: $white;
			white-space: nowrap;
		}
	}
}
