.sales-index {
  overflow: hidden;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: $level2;
    @media screen and (max-width: $smDesktopWidth) {
      margin-bottom: 0;
    }
    @media screen and (max-width: $smTableWidth) {
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: $smTableWidth) {
      margin-top: 20px;
    }
  }

  &__button {
    position: relative;
    top: initial;
    left: initial;
    right: initial;
    margin-left: 24px;
    @media screen and (max-width: $smTableWidth) {
      margin-left: 8px;
    }

    &:after {
      display: none;
    }
  }

  &__filters {
    @media screen and (max-width: $desktopWidth) {
      margin-right: 0;
      width: 100%;
      order: 1;
      margin-top: 20px;
    }
    @media screen and (max-width: $phoneWidth) {
      width: auto;
    }
  }

  &__slider {
    overflow: initial;
    margin-top: 115px;
    @media screen and (max-width: $smDesktopWidth) {
      margin-top: 70px;
    }
    @media screen and (max-width: $smTableWidth) {
      margin-top: 20px;
    }

    &-item {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 413px;
      height: 413px;
      padding: 30px;
      border-radius: 100%;
      border: 1px solid $black;
      @media screen and (max-width: $smTableWidth) {
        width: 343px;
        height: 343px;
      }
      @media screen and (max-width: $smTableWidth) {
        width: 283px;
        height: 283px;
        padding: 15px;
      }
      @media screen and (max-width: $phoneWidth) {
        width: 242px;
        height: 242px;
        padding: 23px;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 31px;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background: $coral;
        z-index: -1;
        @media screen and (max-width: $smTableWidth) {
          top: 18px;
        }

        @media screen and (max-width: $smTableWidth) {
          width: 32px;
          height: 32px;
        }
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 0;
        margin-left: 0;
        width: 0;
        height: 0;
        border-radius: 100%;
        background: $coral;
        z-index: -2;
        transition: 0.2s;
      }

      &:nth-child(4n + 2) {
        &:after,
        &:before {
          background: $light-blue;
        }
      }

      &:nth-child(4n + 3) {
        &:after,
        &:before  {
          background: $pink;
        }
      }

      &:nth-child(4n + 4) {
        &:after,
        &:before  {
          background: $yellow;
        }
      }

      &:hover {
        &:after {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }

        &:before {
          background: $white;
        }

        & .sales-index__slider-link {
          bottom: 41px;
        }
      }
    }

    &-info {
      text-align: center;
      padding: 0 50px;
      margin-top: 20px;
      margin-bottom: -10px;
      @media screen and (max-width: $smTableWidth) {
        text-align: center;
        padding: 0;
        margin-bottom: -10px;
      }
    }

    &-partner {
      position: absolute;
      top: 61px;
      font-size: 20px;
      @media screen and (max-width: $smTableWidth) {
        font-size: 16px;
        top: 33px;
      }
    }

    &-title {
      font-size: 18px;
      line-height: 27px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 10px;
      @media screen and (max-width: $smTableWidth) {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 7px;
      }
      @media screen and (max-width: $phoneWidth) {
        font-size: 14px;
      }
    }

    &-description {
      @media screen and (max-width: $phoneWidth) {
        font-size: 12px;
        line-height: 16.8px;
      }
    }

    &-link {
      position: absolute;
      bottom: -100px;
      transition: 0.3s;

      & svg {
        color: $black;
      }
    }
  }
}